# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake Files
build/
Testing/

# CUDA Files
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# VSCode artifacts
.vscode/

# Valgrind artifacts
cachegrind*

# Doxygen artifacts
generated-docs/